@charset "UTF-8";
/*화면 크기 848px 이하일 때 */
@media screen and (max-width: 848px) {
    body > main > .main > .--content > .title-container {
        align-items: center;
    }
}

@media screen and (max-width: 850px) {
    body > main > .main > .--content > .list {
        align-items: center;
    }

    body > main > .main > .--content > .content-text {
        align-items: center;
        width: 32rem;
    }
    body > main > .main > .--content > .content-text > .image {
        width: 38rem;
    }

    body > main > .main > .--content > .do-gif > .gif {
        max-width: 39rem;
    }
}
@media screen and (min-width: 851px) {
    body > main > .main > .--content > .list {
        align-items: flex-start;
    }
    body > main > .main > .--content > .content-text {
        align-items: flex-start;
        width: 54rem;
    }
    body > main > .main > .--content > .content-text > .image {
        width: 50rem;
    }

    body > main > .main > .--content > .do-gif > .gif {
        max-width: 51rem;
    }
}

html {
    overflow: hidden;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

body {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);

    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    margin: unset;
    /*넘치는 부분은 보여지지 않고 스크롤로 내릴 수 있음 */
    overflow: hidden auto;
    position: absolute;
    scroll-behavior: smooth;


}

body > .header {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    white-space: nowrap;
}

body > .header > .content {

    position: fixed;
    backdrop-filter: blur(10px);
    width: 100%;
    max-width: 85rem;
    margin: 0 2rem;

    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border-bottom: 1px solid rgb(174, 174, 174);
    padding: 0.5rem 0;
}

body > .header > .content > .logo {
    background-color: inherit;
    color: rgb(0, 0, 0);
    font-size: 1.4rem;
    text-decoration: none;
    padding: 0.5rem 0 1rem 2rem;
    font-weight: bold;
    flex: 1;
    cursor: pointer;
}

body > .header > .content > .logo:hover {
    color: rgb(255, 151, 0);
}

body > main > .main {
    display: flex;
    justify-content: center;
    /*이거 두개 있어야 화면 비율 줄여도 옆으로 안넘침*/
    flex-direction: row;
    align-items: center;
    margin-bottom: 10rem;
}

body > main > .main > .--content {
    display: flex;
    flex-direction: column;
    min-width: 73rem;
    align-items: center;
    margin-top: 5rem;

}

body > main > .main > .--content > .title-container {
    min-width: 60rem;
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    font-family: none;
    margin-left: 5rem;
    padding-bottom: 1rem;
    border-bottom: 0.09rem solid rgb(195 195 195);
}

body > main > .main > .--content > .title-container > .mini-title {
    color: rgb(134, 134, 134);
    margin-bottom: 0.5rem;
}


body > main > .main > .--content > .title-container > .main-title {
    font-size: 2rem;
    font-weight: bold;
}

body > main > .main > .--content > .list {
    margin-left: 5rem;
    display: flex;
    /*align-items: flex-start;*/
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 2rem;
    width: 53rem;
    background: rgb(243, 243, 243);
    font-family: none;
    padding: 2rem 2rem 1rem;
}

body > main > .main > .--content > .list > .title {
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

body > main > .main > .--content > .list > .text {
    font-weight: 500;
    margin-bottom: 1rem;
    text-decoration: none;
    color: rgb(0,0,0);
}

body > main > .main > .--content > .list > .text:hover {
    text-decoration: underline;
    color: rgb(87, 87, 87);
    cursor: pointer;
}

body > main > .main > .--content > .do-gif {
    flex-direction: column;
    display: flex;
    margin-top: 5rem;
    cursor: pointer;
    text-decoration: none;
}

body > main > .main > .--content > .do-gif > .text {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration-line: none;
    font-family: none;
    color: rgb(142 142 142);
    margin-top: 1rem;
}

body > main > .main > .--content > .do-gif > .text:hover {
    text-decoration: underline;
}

body > main > .main > .--content > .do-gif > .gif {
    color: transparent;
    height: auto;
    /*max-width: 51rem; */
    margin: 0px auto;
    display: block;
}

body > main > .main > .--content > .content-text {
    display: flex;
    /*align-items: flex-start;*/
    justify-content: flex-start;
    font-family: none;
    margin-top: 7rem;
    /*width: 54rem;*/
    line-height: 2;
    flex-direction: column;
    padding-bottom: 5rem;
    border-bottom: 1px solid rgb(174, 174, 174);
}


body > main > .main > .--content > .content-text > .sub-title {
    font-size: 1.1rem;
    color: rgb(134, 134, 134);
    font-weight: 700;
}

/*body > main > .main > .--content > .content-text > .text.last-line {*/
/*    margin-bottom: 2rem;*/
/*}*/

body > main > .main > .--content > .content-text > .title {
    font-weight: bold;
    font-size: 1.7rem;
}

body > main > .main > .--content > .content-text > .image {
    /*width: 50rem;*/
    margin-bottom: 1rem;
    padding-top: 70px;
}

body > main > .main > .--content > .content-text > .image.email{
    width: 27rem;
}

@media screen and (min-width: 851px) {
    body > main > .main > .--content > .content-text > .image.email{
        margin-left: 12.5rem;
    }
}

body > main > .main > .--content > .back{
    text-decoration: none;
    color: rgb(0,0,0);
    margin-top: 3rem;
    font-size: 1.2rem;
}

body > main > .main > .--content > .back:hover{
    color: rgb(255, 151, 0);
}