<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>matzipmap Project</title>
  <link rel="stylesheet" th:href="@{/resources/stylesheets/matzip.css}">
  <script src="https://kit.fontawesome.com/282afddd53.js" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap" rel="stylesheet">

</head>
<body>
<header class="header" id="header">
  <div class="content" id="headerContainer">
    <a class="logo" id="logo" href="/">PORTFOLIO</a>
  </div>
</header>
<main>

  <div class="main">
    <div class="--content content">
      <div class="title-container">
        <a class="mini-title">음식점 검색 웹 사이트</a>
        <a class="main-title">matzip map</a>
      </div>

      <div class="list">
        <a class="title">List</a>
        <a class="text" href="#">1. 소셜 로그인</a>
        <a class="text" href="#">2. 음식점 상세페이지</a>
        <a class="text" href="#">3. 음식점 검색</a>
        <a class="text" href="#">4. 리뷰</a>

      </div>

    </div>

  </div>


</main>
</body>
</html>